/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
    background: #f8f8f8;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header Styles */
header {
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative; /* For absolute positioning of child elements */
}

#italian-flag {
    position: absolute; /* Absolutely position flag within header */
    top: 50%;
    left: 50px;
    transform: translateY(-50%); /* Center vertically */
    width: 50px; /* Adjust width as needed */
}

header h1 {
    color: black;
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: #ff0000;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/* Image Row Styles */
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows for wrapping on smaller screens */
}

.image-row img {
    width: calc(33.333% - 10px); /* Three images per row with 10px subtracted for margin */
    margin: 5px;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
    header, nav ul, .image-row {
        flex-direction: column;
    }

    nav ul li, .image-row img {
        margin: 5px 0; /* Adjust margin for stacked items on smaller screens */
    }
}

/* Other Styles */
/* Add any additional styles that are missing from above */

  